<h2>User info</h2>


<div>
<%= form_for(@user) do |f| %>
<h2>name</h2>
<%= f.text_field :name, autofocus: true, id:"inpuname", placeholder: "name" %>
<h2>image</h2>
<%= f.attachment_field :profile_image, placeholder:"プロフィール画像" %>
<h2>introduction</h2>
<%= f.text_area :introduction, autofocus: true, id:"profile_image", placeholder:"introduction" %>


<P><%= f.submit "Update User" %></P>

<% end %>
</div>