<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <li>
      <%= link_to "Home" %>
      <%= link_to "Users", users_path %>
      <%= link_to "Books" %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    </li>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
